@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
  margin: 0;
  padding: 0 20%;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1000px) {
  body {
    padding: 0;
  }

  /* Apply the modified styles for small screens */
  .search input {
    width: 100%;/* Make the input cover 100% of the width */
    margin-right: 0; /* Remove right margin */
  }

  .search .fa-search {
    position: absolute;
    top: 10px;
    left: 5px; /* Adjust left position for the icon */
  }
}
.purple-color
{
 color: #A944EF;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  display: inline-block;
}

.search input {
  height: 35px;
  background: #fcfcfc;
  border:none;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 32px;
  outline: none;
}

.search .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

#play
{
  display: grid;
  justify-content: center;
  align-items: center;
}

.round-button {
	box-sizing: border-box;
	display:block;
	width:60px;
	height:60px;
	padding-top: 14px;
	padding-left: 4px;
	line-height: 20px;
  border: 5px solid white;
	border-radius: 50%;
	text-align:center;
	text-decoration:none;
	background-color: #E9D0FA;  ;
	font-size:20px;
	font-weight:bold;
	transition: all 0.3s ease;
}
.round-button:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgb(232, 100, 255);
	text-shadow: 0px 0px 10px rgba(232, 100, 255,1);
}